.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 15px;
  margin-bottom: 60px;
}

.openFormBtn {
  display: inline-block;
  font-family: inherit;
  font-weight: 100;
  font-size: 15px;
  width: 100%;
  color: whitesmoke;
  border-radius: 12px;
  border: 1px solid whitesmoke;
  background: none;
  padding: 15px 30px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.openFormBtn:hover {
  box-shadow: 0 0 10px 0 #7cb9e8 inset, 0 0 10px 4px #7cb9e8;
  color: #7cb9e8;
}

/* .form {
  display: flex;
  flex-direction: column;
} */

/* .searchBtn {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  cursor: pointer;
} */

.searchBtn:hover {
  opacity: 1;
}

.label {
  display: none;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  color: whitesmoke;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
  padding: 15px;
  background: none;
  border-radius: 3px;
  margin-bottom: 30px;
  /* overflow: hidden; */
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px 40px;
  color: whitesmoke;
  margin: 10px;
}

.location {
  color: whitesmoke;
}

.temp {
  font-size: 86px;
  color: #f1c232;
}

.description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
  margin: 30px 15px 15px 15px;
  color: whitesmoke;
  font-size: 30px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.data {
  padding: 20px;
}

.bold {
  font-weight: 700;
  margin-bottom: 10px;
}
